.bg-img {
    background-image: url('images/BG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg2-img {
    background-image: url('images/BG2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.strong-shadow {
    box-shadow: 0 6px 30px rgba(0,0,0,0.55);
}