* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.box {
    font-size: 30px;
    padding: 20px;
}