<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>EduLight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="/">
            <img src="static/images/EduLightLogo.png" alt="" width="50" height="50">
        </a>
        <div class="ms-3">
            <a class="nav-link d-inline me-3" href="/">Головна</a>
            <a class="nav-link d-inline" href="/about">Про нас</a>
        </div>
        <form class="d-flex justify-content-center mx-auto" method="GET" action="/search">
            <input class="form-control me-2" type="search" placeholder="Пошук" name="q">

            <div class="dropdown me-2">
                <button class="btn btn-light dropdown-toggle" type="button"
                        data-bs-toggle="dropdown">Категорії
                </button>
                <ul class="dropdown-menu p-3">
                    <li><label class="dropdown-item">
                        <input type="checkbox" name="filters" value="Python"> Python
                    </label></li>

                    <li><label class="dropdown-item">
                        <input type="checkbox" name="filters" value="WEB"> WEB
                    </label></li>

                    <li><label class="dropdown-item">
                        <input type="checkbox" name="filters" value="C++"> C++
                    </label></li>

                    <li><label class="dropdown-item">
                        <input type="checkbox" name="filters" value="Csharp"> C#
                    </label></li>

                    <li><label class="dropdown-item">
                        <input type="checkbox" name="filters" value="Java"> Java
                    </label></li>
                </ul>
            </div>

            <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>

        {% if user_logined %}
            <form class="d-flex ms-auto" method="GET">
                <a href="/profile" class="btn btn btn-primary me-2" type="submit">Профіль</a>
    <!--            <button class="btn btn btn-primary me-2" type="submit" name="action" value="login">Вхід</button>-->
    <!--            <button class="btn btn-outline-primary" type="submit" name="action" value="register">Реєстрація</button>-->
            </form>
        {% else %}
            <form class="d-flex ms-auto" method="GET">
                <a href="/login" class="btn btn btn-primary me-2" type="submit">Вхід</a>
                <a href="/register" class="btn btn-outline-primary" type="submit">Реєстрація</a>
    <!--            <button class="btn btn btn-primary me-2" type="submit" name="action" value="login">Вхід</button>-->
    <!--            <button class="btn btn-outline-primary" type="submit" name="action" value="register">Реєстрація</button>-->
            </form>
        {% endif %}
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>