{% extends "base.html" %}

{% block body_class %}bg3-img{% endblock %}

{% block content %}
<div class="container mt-5 pb-1 mb-5 glass-container position-relative">
    <div class="position-absolute top-0 end-0 m-3">
        <img src="{{ url_for('static', filename='images/' ~ course['img']) }}" alt="" width="100" height="100">
    </div>
    <h1 class="mb-4 text-center">{{ course["title"] }}</h1>
    <p>{{ course["description"] }}</p>
    <h3 class="mb-4 text-center">Структура проєкту</h3>
    {% for i in modules %}
        <p>{i["module_number"]}. {i["title"]}</p>
    {% endfor %}
</div>
{% endblock %}