<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="search box">Назва гуртка, автор або предмет</div>
<!--        Тут команда з пошуком-->
        <div class="language box">Вибір мови</div>
<!--        Тут треба зробити мову на вибір-->
        <div class="certificate box">без/з сертифікатами</div>
<!--        (Тут треба зробити що б можна було вибрати(галочка))-->
        <div class="free box">Безкоштовні</div>
<!--        (Тут треба зробити що б можна було вибрати(галочка))-->
        <div class="button box">Шукати</div>
<!--        (Сюди треба вставити кнопку)-->
    </div>
    <h1></h1>
<!--    <form action="/" method="post">-->
<!--        <label>Назва</label>-->
<!--        <input type="text" name="name" required><br><br>-->

<!--        <label>Колір</label>-->
<!--        <input type="email text" name="color" required><br><br>-->
<!--    </form>-->
</body>
</html>